.welcome {
  top: 0;
  background: Azure;
  min-height: 55vh;
  padding-top: 45vh;
  text-align: center;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, black, Azure, gray, white)
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  color: darkblue;
}

.intro-cmt {
  font-size: 44px;
  color: teal;
}
.intro-subcmt {
  font-size: 23px;
  font-weight:bold;
}

#package-text {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  font-style: Italic;
}

footer {
  padding: 20px;
  background: lightgray;
  color: black;
  line-height: 40px;
}

.contact {
  background: #C8F7C5;
}
.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-align: center;
  text-decoration: none;
}
.contact-details:hover {
  background: #E4F1FE;
  color: green;
}

footer a {
  color: gray;
}

.package {
  display: inline-flex;
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

@media all and (min-width:820px) and (max-width:1024px) {
  .welcome {
    min-height: 40vh;
    padding-top: 30vh;
  }
  .intro-cmt {
    font-size: 38px;
  }
  #package-text {
    font-size: 26px;
  }
  .package, img {
    max-width: 80%;
  }
  .contact-details {
    width: 80px;
    height: 80px;
    font-size: 18px;
    line-height: 80px;
  }
}

@media all and (max-width:820px) {
  .welcome {
    min-height: 25vh;
    padding-top: 15vh;
  }
  .intro-cmt {
    font-size: 32px;
  }
  #package-text {
    font-size: 18px;
  }
  .package, img {
    max-width: 40%;
  }
  .contact-details {
    width: 60px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
  }
}
