html {
  text-align: center;
}

#title-line {
  color: green;
}

img {
  padding-right: 80px;
}

#nav-bar .nav-link {
  display: inline-block;
}

#main-content {
  padding-top: 2px;
  padding-bottom: 2px;
}

.price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: auto-fit;
  background-color: lightgray;
  max-width: 100%;
}

.price-info {
  border: 3px solid black;
}

.price-top {
  font-size: 22px;
    background-color: gray;
 }
 .price-main {
   font-size: 20px;
 }

#form {
  padding-top: 120px;
  padding-bottom: 120px;
}

.descript {
  padding-top: 20px;
}

.descript .descript-info {
  display: inline-block;
}

.descript-info {
  font-size: 20px;
  text-align: left;
}

.descript-text-strong {
  font-size: 35px;
  font-weight: bold;
}
aside {
  position: fixed;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #eee;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

#nav-bar {
  @media (max-width: 650px) {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }

  .nav-link {
      width: 35vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      @media (max-width: 650px) {
        flex-direction: column;
      }
  }
}

@media (max-width: 1200px) {
  :root {
    --penguin-size: 200px;
    --penguin-skin: gray;
  }
}
@media (max-width: 800px) {
  :root {
    --penguin-size: 100px;
    --penguin-skin: pink;
  }
}

.price-submit {
  font-size: 50px;
  width: 150px;
  max-width: 100%;
  height: auto;
}
